html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px; 
    background: url("https://static.vecteezy.com/system/resources/previews/005/739/174/non_2x/abstract-wave-fluid-shapes-minimalistic-modern-gradient-background-combined-pastel-light-colors-trendy-template-for-brochure-business-card-landing-page-website-illustration-eps-10-vector.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

header img {
    height: 179px;
    border-radius: 82px;
}

header h1 {
    font-size: 4em;
    margin: auto;
    margin-bottom: -20px;
    color: white;
    text-shadow:  -2px -2px 0 #d176a4,2px -2px 0 #d176a4,-2px 2px 0 #d176a4,2px 2px 0 #d176a4;
}

header p {
    font-size: 2em;
    color: white;
    text-shadow:  -2px -2px 0 #d176a4,2px -2px 0 #d176a4,-2px 2px 0 #d176a4,2px 2px 0 #d176a4;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #d176a4;
    color: white;
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
}
.close-btn {
    position: absolute;
    top: 38px;
    right: 39px;
    background: #d176a4;
    height: 1px;
    width: 1px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2em;
}
.menu div {
    display: block;
    width: 182px;
    font-size: x-large;
    size: auto;
    color: white;
    background-color: #d176a4;
    text-decoration: none;
    padding: 34px;
    border-color: #d176a4;
}


.menu div:hover {
    background: #e494bc;
}
.menu.show {
    left: 0;
}

section {
    border: 2px solid #d176a4;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #d176a4;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.services-container div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ff1493;
    border-radius: 5px;
    background-color: #d176a4;
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.skills-container img {
    width: auto; 
    height: 60px;
    transition: transform 0.3s ease;
}

.skills-container img:hover {
    transform: scale(1.1);
}

ul {
    list-style-position: inside; 
    padding-left: 0;
    text-align: left;
    margin-left: 38px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}
footer div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ff1493;
    border-radius: 5px;
    background-color: #d176a4;
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 10px;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: #e494bc;
}